h1 {
    font-size: 30px;
    padding: 20px;
    margin-bottom: 15px;
    
    
}
#h1 {
    background-color: aquamarine;
    margin-bottom: 10px;
    /* width: 300px;
    margin-left: 675px; */
}
p {
    line-height: 125%;
    color: white;
    margin-left: 10px;
    font-size: 14px;
}
#p {
    background-color: blue;
    /* width: 500px; */
    /* margin-left: 570px; */

}
#targetNumber {
    background-color: orangered;
    width: 250px;
    height: 140px;
    margin-top: 15px;
    display: inline-block;
    position: absolute;
    left: 0;
    margin-left: 570px;
}
#score {
    background-color: bisque;
    width: 200px;
    height: 140px;
    line-height: 200%;
    display: inline-block;
    position: absolute;
    right: 640px;
    margin-top: 15px;
    
}
h2 {
    margin-left: 10px;
}
#totalScore {
    background-color: green;
    margin-top: 20px;
    /* width: 250px;
    height: 30px;
    margin-top: 25px;
    margin-left: 710px; */
    
}
#score2 {
    font-size: 30px;
}
#totalScore2 {
    background-color: green;
    margin-top: 10px;
    /* width: 250px;
    height: 120px;
    margin: 15px;
    margin-left: 710px; */
}
#numberToHit {
    color: white;
    font-size: 40px;
}
img {
    height: 200px;
    width: 200px;
    margin-left: 15px;
    margin-top: 170px;
    
}
body {
    background-image: url("http://tanamen.com/img/d_default/cool-backgrounds/cool-backgrounds-shutterstock-5c74bcf45ccea.png");
    text-align: center;
  }