h1 {
    font-size: 30px;
    padding: 20px;
    margin-bottom: 15px;
    
    
}
#h1 {
    background-color: aquamarine;
    width: 300px;
    margin-left: 15px;
}
p {
    line-height: 200%;
    color: white;
    margin-left: 10px;
}
#p {
    background-color: blue;
    width: 500px;
    margin-left: 15px;

}
#targetNumber {
    background-color: orangered;
    width: 250px;
    height: 200px;
    margin-top: 15px;
    display: inline-block;
    position: absolute;
    left: 0;
    margin-left: 15px;
}
#score {
    background-color: bisque;
    width: 200px;
    height: 200px;
    line-height: 200%;
    display: inline-block;
    position: absolute;
    right: 1200px;
    margin-top: 15px;
    
}
h2 {
    margin-left: 10px;
}
#totalScore {
    background-color: green;
    width: 250px;
    height: 30px;
    margin-top: 25px;
    margin-left: 15px;
    
}
#totalScore2 {
    background-color: green;
    width: 250px;
    height: 150px;
    margin: 15px;
}
#numberToHit {
    color: white;
    font-size: 40px;
}
img {
    height: 200px;
    width: 200px;
    margin-left: 15px;
    margin-top: 225px;
    
}
